body {
  background-color: #fff5e6;
}

h1 {
  font-family: 'Unica One', cursive;
  text-align: center;
  font-size: 11pt;
}

h2 {
  font-family: 'Unica One', cursive;
  font-size: 50pt;
  text-align: center;
  color: #fff7e6;
}

.jumbotron {
  background-color: #ff9900;
  padding: 1em;
}

.col-sm {
  height: 100pt;
  padding-top: 40pt;
}

a:link {
  color: #000F08;
}

a:visited {
  color: #000F08;
}
